.parent {
    width: 300px;
    height: 300px;
    background-color: lightgray;
    position: relative;
}

.child {
    width: 100px;
    height: 100px;
    background-color: steelblue;
    position: absolute;

    top: 50%;
    left: 50%;

    margin-left: -50px;
    margin-top: -50px;
}
/* 
z-index გამოიყენება იმისთვის, რომ განვსაზღვროთ ელემენტების ერთმანეთზე დალაგების რიგი
(რომელი წინ იქნება და რომელი უკან). */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    color: #333;
    font-size: 14px;
}

.btn {
    padding: 10px 25px;
    border-radius: 30px;
    background: #a154ff;
    border: none;
    color: white;
}
