body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  color: hsl(0, 0%, 100%);
}

.card {
  width: 350px;
  background: hsl(216, 50%, 16%);
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.25);
}
.image-container {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.nft-img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: hsla(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}

.view-icon {
  width: 48px;
}
.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.title:hover {
  color: hsl(178, 100%, 50%);
}

.description {
  color: hsl(215, 51%, 70);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.eth {
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time {
  display: flex;
  align-items: center;
  gap: 8px;
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

hr {
  border: none;
  border-bottom: 1px solid hsl(215, 32%, 27%); 
  margin-bottom: 20px;
}

.creator {
  display: flex;
  align-items: center;
  gap: 14px;
  font-weight: 300;
  font-size: 16px;
}

.avatar {
  width: 34px;
  border-radius: 50%;
  border: 1px solid white;
}

.creator-name {
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s;
}

.creator-name:hover {
  color: hsl(178, 100%, 50%);
}