/* .box {
    width: 200px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid white;

    display: inline-block;
    position: relative;

    top: 0;  
    left: 0;
} */
    /* relative არის ელემენტი, რომელიც იგივე ადგილზეა, მაგრამ შეგიძლია მცირედით გადაწიო 
    მის საწყის ადგილთან შედარებით. */
/* .box2 {
    width: 200px;
    height: 100px;
    background-color: #FF5733;
    color: white;
    padding: 20px;
    font-size: 18px;
    border: 1px solid white;

    display: inline-block;
    position: relative;

    bottom: 10px;  
    right: 5px; 
} */

html{
    scroll-behavior: smooth;
}
.messenger-icon {
  position: relative;
  width: 100px;
}


.notification {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  justify-content: center;
}