body {
    margin: 0;
    background: #c8d7f0;
    font-family: Arial, sans-serif;
}

.table-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 60%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
}

thead {
    background: #5a6fd8;
    color: white;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid #eee;
}

tbody tr:last-child {
    border-bottom: none;
}

table {
    border-collapse: collapse; /*
    -> აერთიანებს მეზობელი უჯრედების საზღვრებს ერთ საზღვრად */
}

table {
    border-collapse: separate; /* 
    -> სტანდარტული: თითოეულ უჯრედს აქვს საკუთარი საზღვარი */
}
/*pseudo selector მაგალითები:  1) :hover

მუშაობს მაშინ, როცა მაუსს მიიტან ბედზე.

a:hover { color: red; }

2) :active

როცა ელემენტს აჭერ.

a:active { color: blue; }

3) :nth-child(n)

ირჩევს ელემენტს მისი რიგითი ნომრით.

li:nth-child(2) { font-weight: bold; } */

.link {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.link:hover {
    background: black; color: white;
}
.link:active {
    background: gray;
}
.link:visited {
    color: purple;
}

.link:nth-child(2) {
    border-color: blue; 
}