body{
    background-color: rgb(219, 255, 255)
}
h1 {
    color: cyan;
    background-color: rgb(191, 255, 255);
    width: 250px;
    text-align: center;
    border: 10px dotted cyan;
    padding: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto;
}
nav{
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: cyan;
    padding: 25px;
    width: 500px;
    border: dotted 10px rgb(191, 255, 255)
}
nav a {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(191, 255, 255)
}

p {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    color: cyan
}
h2{
    text-align: center;
    font-size: 30px;
    font-style: bold;
    color: cyan
}
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 10px solid cyan;
    padding: 50px;
    width: 870px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(191, 255, 255)

}