 .myDiv {
        width: 400px;
        height: 300px;
        background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
        background-size: cover;
        background-position: center;
        transition: 0.4s;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        margin-bottom: 40px;
    }

    .myDiv:hover {
        width: 800px;
        filter: brightness(60%);
        color: white;
    }
    .box1, .box2 {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }

    .box1 {
        background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba");
        background-size: cover;
        background-position: center;
    }

    .box2 {
        background-image: 
            url("https://images.unsplash.com/photo-1506744038136-46273834b3fb"),
            url("https://images.unsplash.com/photo-1499084732479-de2c02d45fc4");
        background-size: cover;
        background-position: center;
    }

    .pos1, .pos2 {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        background-size: cover;
    }

    .pos1 {
        /* Example 1: top */
        background-image: url("https://images.unsplash.com/photo-1531177078570-8372172c2e7e");
        background-position: top;
    }

    .pos2 {
        /* Example 2: right */
        background-image: url("https://images.unsplash.com/photo-1497106636505-e4fd1a28ef20");
        background-position: right;
    }

    .size1, .size2 {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
    }

    .size1 {
        background-image: url("https://images.unsplash.com/photo-1482192596544-9eb780fc7f66");
        background-size: cover;
        background-position: center;
    }

    .size2 {
        background-image: url("https://images.unsplash.com/photo-1453728013993-6d66e9c9123a");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }